<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body >
  
  <% if (created) {%>
    <div style="color: #0b8000;">Note has been created!</div>
  <% } %>

  <div>
    <h1><%= title %></h1>

    <form action="/" method="post">
      <input type="text" name="title" required>
      <button type="submit">Create note</button>
    </form>

    <hr/>

    <% if (notes.length) { %>
      <div>
        <% for (let i = 0; i < notes.length; i++) { %>
          <div style="width: 300px; padding: 5px; border: 1px #ccc solid; display: flex; justify-content: space-between;">
            <span><%= notes[i].title %></span>
            <button data-type="remove" data-id="<%= notes[i].id %>" style="background-color: #a30000; border: 0; color: #fff; cursor: pointer;">&times;</button>
          </div>
        <% } %>
      </div>
    <% } else { %>
      <p>No notes..</p>
    <% } %>
  </div>

  <script src="/app.js"></script>

</body>
</html>